<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <p class="navbar-brand mb-0">Coding Dojo Wall </p>
        <p class="navbar-brand ml-auto mb-0">Welcome {{this_user.fname}} {{this_user.lname}}</p>
        <a class="navbar-brand" href="/destroy">Log Out</a>
    </nav>
</body>
</html>